body {
    margin: auto;
    background-color: black;
    color: white;
    font-family: "Quicksand", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/*****************************header**********************************/
header {
    padding: 30px;
    background-image: url("album/victoria-shes-UC0HZdUitWY-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: monAnim 5s alternate infinite;
}

header h1,
h2 {

    font-size: 90px;
    font-family: Bradley Hand ITC;
    color: white;
}

header h1 {
    font-family: "Pacifico", cursive;
    font-weight: 40;
    font-style: normal;
}


header h2 {
    font-size: 30px;
    font-family: "Pacifico", cursive;
}

header p {
    color: white;
    font-size: large;
}

@keyframes monAnim {
    form {
        background-image: url("album/victoria-shes-UC0HZdUitWY-unsplash.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    to {
        background-image: url("album/chad-montano-eeqbbemH9-c-unsplash.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

/*************************Main***************************************/
main {
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

main div {
    flex-basis: 25%;
    text-align: center;
    box-shadow: 0px 0px 10px white;
    padding: 10px;
    border-radius: 5px;
    transition: ease all 0.5s;
}

main div:hover {
    position: relative;
    bottom: 10px;
    transition: ease all 0.5s;
}

main div a {
    text-decoration: none;
}

main div h4 {
    color: orange;
    font-family: "Pacifico", cursive;
}

main div p {
    text-align: justify;
    color: white;
    font-family: "Quicksand", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}

/**********************section***********************************/
section {
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    color: black;
}

section h2 {
    font-size: 30px;
    text-align: center;
    color: orange;
    font-family: "Pacifico", cursive;

}

section h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

section h3 {
    text-align: center;
    font-size: 25px;
    color: white;
}

section h3 {
    font-family: "Damion", cursive;
    font-weight: 400;
    font-style: normal;
}

/*********plant*****************/
.nos_plats {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nos_plats div {
    flex-basis: 20%;
    margin-top: 40px;
    padding: 10px;
    color: white;
    box-shadow: 0px 0px 5px white;
    border-radius: 5px;
    transition: ease-in-out 0.5s;

}

.nos_plats div h3 {
    text-align: left;
    font-size: 25px;
}

.nos_plats div h4 {
    font-size: 25px;
    color: orange;
}

.nos_plats div:hover {

    transition: ease-in-out 0.5s;
}

.nos_plats div img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}


.nos_plats div a {
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.5s;
}


.nos_plats div a:hover {
    background-color: black;
    color: orange;
    border: 1px solid orange;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
}

/************************************article*************************/
article {
    margin-top: 100px;
    background-color: orange;
    padding: 10px;

}

article h2 {
    text-align: center;
    font-size: 28px;
    color: black;
}

article h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.equipe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.equipe div {
    flex-basis: 20%;
    margin-top: 20px;
    text-align: center;
}

.equipe div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.equipe div h4 {
    color: white;
    color: black;
}

.equipe div p {
    color: whitesmoke;
    font-size: small;
    color: black;
}

/**********************formulaire de contact***********************/
.formulaireDeContact {
    margin-top: 100px;
    padding: 10px;
}

.formulaireDeContact h2 {
    text-align: center;
    color: orange;
    font-family: "Pacifico", cursive;
    font-size: 30px;
}

.formulaire {
    margin: auto;
    width: 40%;
    padding: 20px;
    box-shadow: 0px 0px 3px gainsboro;
    background-color: white;
}

.formulaire h4 {
    color: black;
    color: orange;
}

form input,
textarea {
    width: 100%;
    height: 30px;
    padding: 2px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gainsboro;

}

form textarea {
    height: 70px;
}

form input,
textarea::-webkit-input-placeholder {
    color: gray;
}

form input,
textarea:focus {
    outline-color: orange;
}

button {
    background-color: orange;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
}

button:hover {
    transition: 0.5s;
    padding: 20px;
}

/******************************localisation****************************/
#map {
    margin-top: 200px;
    height: 500px;

}

/********************************footer*******************************/
footer {
    background-color: black;
    padding: 20px;
    cursor: pointer;
}

.contente_footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.contente_footer div {
    flex-basis: 20%;
    margin-top: 20px;

}

.contente_footer div h4 {
    font-size: 20px;
    color: orange;
}

.contente_footer div a {
    text-decoration: none;
    color: gainsboro;
}

.contente_footer div ul {
    list-style-type: none;
    position: relative;
    right: 50px;

}

.contente_footer div ul li {
    display: inline-block;
    padding-left: 20px;
}

.Copyright {
    text-align: center;
    color: white;
    font-size: small;
}

/************************************************************/
@media screen and (max-width:1000px) {


    .equipe div {
        flex-basis: 40%;
    }

    .formulaire {
        width: 60%;
    }

    .contente_footer div {
        flex-basis: 45%;
    }
}

@media screen and (max-width:900px) {
    .nos_plats div {
        flex-basis: 40%;
    }
}

@media screen and (max-width:800px) {
    main {
        margin-top: 50px;
    }

    main div {
        flex-basis: 80%;
        margin-top: 50px;
    }

    .formulaire {
        width: 80%;
    }

}

@media screen and (max-width:700px) {

    .nos_plats div {
        margin-top: 30px;
        flex-basis: 80%;
    }

    .equipe div {
        flex-basis: 80%;
    }

    .contente_footer div {
        flex-basis: 100%;
    }
}